# CI to build and test.
# Based on https://github.com/x448/float16/blob/master/.github/workflows/ci.yml
name: CI

# Revoke default permissions.
permissions: {}

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]  
  push:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

jobs:
  # Test on various OS with some Go versions. 
  tests:
    name: test ${{matrix.os}} go-${{ matrix.go-version }}
    runs-on: ${{ matrix.os }}

    permissions:
      contents: read

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        go-version: [1.17, 1.22, 1.23, 1.24, 1.25] # Test on go1.17 and latest few versions
        
    steps:
    - name: Install Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: ${{ matrix.go-version }}
        check-latest: true
        
    - name: Checkout code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        fetch-depth: 1
        
    - name: Get dependencies
      run: go get -v -t -d ./...
      
    - name: Build project
      run: go build ./...
      
    - name: Run tests
      run: |
        go version
        go test -timeout 30m -race -v ./...
