# CI to build and test.
# Based on https://github.com/x448/float16/blob/master/.github/workflows/ci.yml
name: CI

# Revoke default permissions.
permissions: {}

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]  
  push:
    branches: [ main ]
    tags:
      - 'v*'

jobs:
  # Test on various OS with some Go versions. 
  tests:
    name: test ${{matrix.os}} go-${{ matrix.go-version }}
    runs-on: ${{ matrix.os }}

    permissions:
      contents: read

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        go-version: [1.17, 1.18, 1.19]
        
    steps:
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
        check-latest: true
        
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 1
        
    - name: Get dependencies
      run: go get -v -t -d ./...
      
    - name: Build project
      run: go build ./...
      
    - name: Run tests
      run: |
        go version
        go test -timeout 30m -race -v ./...
